/overdose mapping/data/
/spatial autocorrlation/data/

/overdose modeling for entire country/data/
/overdose modeling for entire country/results/

/overdose modeling for entire country/scratch model 1/models/
/overdose modeling for entire country/transfer learning - model 1/models/

/overdose modeling for entire country/scratch model - multi variable/models/

/overdose modeling for entire country/scratch model - SENet/models/
/overdose modeling for entire country/scratch model - SENet regression/models/